<span class="game-info"><span class="game-name"><game-name /></span>
<game-comment><span class="game-comment">(<value />)</span></game-comment>
(<game-player-range><apply template="range" /></game-player-range>)</span>