<apply template="/instance/base">
  <bind tag="instance-page-title">
    Configure Instance
  </bind>
  <bind tag="instance-page-headers">
    <style>
      .action-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 10px;
      }
      .action-form > span {
        display: flex;
        align-items: center;
      }
      .action-form label {
        margin-right: 1ch;
      }
    </style>
    <script src="/_static/confirm.js" />
  </bind>
  <bind tag="instance-page-body">
    <dfForm action=".">
      <h2>Configure this Instance</h2>
      <p>
        <dfInputCheckbox ref="listed" />
        <dfLabel ref="listed">
          Make this instance appear in the public list of instances.
        </dfLabel>
      </p>
      <p>
        Compute up to
        <dfInputText type="number" ref="assignments-to-compute" min="1" style="width: 3em" />
        best assignments.
        <errors ref="assignments-to-compute" />
      </p>
      <p>
        <dfInputCheckbox ref="require-ready-bool" onchange="requireReadyChanged(this)" />
        <dfLabel ref="require-ready-bool">
          Require all players to mark themselves as ready before displaying possible assignments.
        </dfLabel>
        Lock the results for
        <dfInputText type="number" ref="require-ready-duration" min="0" style="width: 3em" onchange="lockDurationChanged(this)" />
        seconds once they are displayed.
        <errors ref="require-ready-duration" />
      </p>
      <p>
        Deactivate inactive players and assignments after
        <dfInputText type="number" ref="auto-deactivation-hours" min="1" style="width: 3em" />
        hours (leave empty for never).
        <errors ref="auto-deactivation-hours" />
      </p>
      <p>
        <input type="submit" value="Save" class="button confirm" />
      </p>
      <script>
        function requireReadyChanged(e) {
          const durationInput = document.getElementById('configureInstanceForm.require-ready-duration');
          if (e.checked) {
            durationInput.value = 0;
          } else {
            durationInput.value = '';
          }
        }
      </script>
      <script>
        function lockDurationChanged(e) {
          const boolInput = document.getElementById('configureInstanceForm.require-ready-bool');
          if (e.value >= 0) {
            boolInput.checked = true;
          } else if (0 > e.value) {
            e.value = boolInput.checked ? '0' : '';
          }
        }
      </script>
    </dfForm>

    <h2>Import from BoardGameGeek</h2>

    <p>
      Automatically link games with their <a target="_blank" rel="noopener noreferrer" href="https://boardgamegeek.com/">BoardGameGeek</a> counterpart. This also imports recommended player numbers if they are not already set (and might take a few minutes).
    </p>
    <form class="action-form" id="update-with-bgg" action="/${instance-name}/update-with-bgg" method="post">
      <span>
        <label for="update-with-bgg.type">Game types to look for:</label>
        <select id="update-with-bgg.type" name="type" multiple required size="2">
          <option value="boardgame boardgameexpansion">Boardgames &amp; expansions</option>
          <option value="videogame">Videogames</option>
        </select>
      </span>
      <input type="submit" class="button confirm" value="Link games with BGG" />
    </form>
    <hr />

    <p>
      Import the games marked as owned in a <a target="_blank" rel="noopener noreferrer" href="https://boardgamegeek.com/">BoardGameGeek</a> user's collection.
    </p>
    <form class="action-form" id="import-from-bgg-collection" action="/${instance-name}/import-from-bgg-collection" method="post">
      <span>
        <label for="import-from-bgg-collection.user">BGG username:</label>
        <input id="import-from-bgg-collection.user" type="text" minlength="1" maxlength="50" name="user" value="" required />
      </span>
      <span>
        <label for="import-from-bgg-collection.type">Game type to import:</label>
        <select name="type" id="import-from-bgg-collection.type" required>
          <option value="boardgame">Boardgames</option>
          <option value="boardgameexpansion">Boardgame expansions</option>
          <option value="videogame">Videogames</option>
        </select>
      </span>
      <input type="submit" class="button confirm" value="Import from collection" />
    </form>

    <h2>Delete instance</h2>

    <form class="action-form" id="delete-instance-${instance-name}" action="/_instances/delete" method="post">
      <input type="hidden" name="id" value="${instance-name}" />
      <input type="button" onclick="confirmDeletion('instance', '${instance-name}', '${instance-name}')" value="Delete this instance (${instance-name})" class="button delete" />
    </form>
  </bind>
</apply>
