:root {
  --bgg-tooltip-color: lavender;

  /* This will be set by JS. */
  --bgg-tooltip-wrap-height: 0px;
}

.game-more-info {
  position: relative;
  float: right;
}

.game-more-info summary {
  display: block;
  cursor: pointer;
}

.info-glyph {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1.1em;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  font-style: normal;
  font-weight: initial;
}

.game-more-info[open] .info-glyph {
  background-color: var(--bgg-tooltip-color);
}

.game-bgg-tooltip {
  /* This will be set by JS. */
  --content-height: 0px;
}

.game-bgg-tooltip-html {
  display: inline-block;
  visibility: hidden;
  height: var(--content-height);
  background-color: var(--bgg-tooltip-color);
}

@media (min-width: 650px) {
  .game-bgg-tooltip {
    position: absolute;
    height: calc(2 * var(--content-height) - 100%);
    top: calc(100% - var(--content-height));
    left: 95%;
    z-index: 1;
    display: flex;
    align-items: center;
  }

  .game-bgg-tooltip-html {
    position: sticky;
    bottom: 0;
    top: 0;
    border: 1px solid black;
    border-radius: 5px;
    width: 220px;
    padding: 2px;
  }
}

@media (max-width: 649px) {
  /* Otherwise "position: fixed" does not work for some reason */
  html, body {
    overflow: auto;
  }
  
  /* Otherwise the tooltip might block the lowest part of the site */
  body {
    padding-bottom: var(--bgg-tooltip-wrap-height);
  }
  
  .game-bgg-tooltip {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    z-index: 1;
    display: flex;
  }

  .game-bgg-tooltip-html {
    width: 100%;
    border-top: 1px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 2px 5px;
  }
}
