.with-tooltip {
  display: inline;
  position: relative;
}

.with-tooltip > summary {
  list-style: none;
}

.tooltip-box {
  position: absolute;
  top: 115%;
  left: 50%;
  z-index: 1;
}

.tooltip {
  position: relative;
  left: -50%;
  background-color: var(--tooltip-color);
  border: 1px solid var(--border-color);
  border-radius: 0.25em;
  padding: 0.1em 0.3em;
  font-size: 85%;
  white-space: nowrap;
}
